TicTacToeClient/src/META-INF/wsdl/titanic.ecci.ucr.ac.cr/_ec04740/TicTacToe/TicTacToe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:DW_TicTacToe"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DW_TicTacToe" targetNamespace="urn:DW_TicTacToe">
	<types>
		<xsd:schema targetNamespace="urn:DW_TicTacToe">
			<xsd:element name="playAgain">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="tick">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="row" type="xsd:int"/>
						<xsd:element name="column" type="xsd:int"/>
						<xsd:element name="player" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBoardStr">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="getBoardStrResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getBoardStrResult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkWin">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="player" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkWinResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="checkWinResult" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isFull">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="player" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isFullResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="isFullResult" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="playComputerRand">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="player" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="playComputerRandResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="playComputerRandResult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addToRanking">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRanking">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="getRankingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getRankingResult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<portType name="DW_TicTacToePort">
		<operation name="playAgain">
			<documentation>This method resets the variables to play again</documentation>
			<input message="tns:playAgainIn"/>
		</operation>
		<operation name="tick">
			<documentation>This method tick the board according to the player</documentation>
			<input message="tns:tickIn"/>
		</operation>
		<operation name="getBoardStr">
			<documentation>This method returns the board in a strings</documentation>
			<input message="tns:getBoardStrIn"/>
			<output message="tns:getBoardStrOut"/>
		</operation>
		<operation name="checkWin">
			<documentation>This method check if the player wins.</documentation>
			<input message="tns:checkWinIn"/>
			<output message="tns:checkWinOut"/>
		</operation>
		<operation name="isFull">
			<documentation>This method check if board is full.</documentation>
			<input message="tns:isFullIn"/>
			<output message="tns:isFullOut"/>
		</operation>
		<operation name="playComputerRand">
			<documentation>This method make the computer play a position random.</documentation>
			<input message="tns:playComputerRandIn"/>
			<output message="tns:playComputerRandOut"/>
		</operation>
		<operation name="addToRanking">
			<documentation>This method add to the ranking a player with the time</documentation>
			<input message="tns:addToRankingIn"/>
		</operation>
		<operation name="getRanking">
			<documentation>This method returns the ranking in a string</documentation>
			<input message="tns:getRankingIn"/>
			<output message="tns:getRankingOut"/>
		</operation>
	</portType>
	<binding name="DW_TicTacToeBinding" type="tns:DW_TicTacToePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="playAgain">
			<soap:operation soapAction="urn:DW_TicTacToe#playAgain"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
		</operation>
		<operation name="tick">
			<soap:operation soapAction="urn:DW_TicTacToe#tick"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
		</operation>
		<operation name="getBoardStr">
			<soap:operation soapAction="urn:DW_TicTacToe#getBoardStr"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</output>
		</operation>
		<operation name="checkWin">
			<soap:operation soapAction="urn:DW_TicTacToe#checkWin"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</output>
		</operation>
		<operation name="isFull">
			<soap:operation soapAction="urn:DW_TicTacToe#isFull"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</output>
		</operation>
		<operation name="playComputerRand">
			<soap:operation soapAction="urn:DW_TicTacToe#playComputerRand"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</output>
		</operation>
		<operation name="addToRanking">
			<soap:operation soapAction="urn:DW_TicTacToe#addToRanking"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
		</operation>
		<operation name="getRanking">
			<soap:operation soapAction="urn:DW_TicTacToe#getRanking"/>
			<input>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:DW_TicTacToe"/>
			</output>
		</operation>
	</binding>
	<service name="DW_TicTacToeService">
		<port name="DW_TicTacToePort" binding="tns:DW_TicTacToeBinding">
			<soap:address location="https://titanic.ecci.ucr.ac.cr/~ec04740/TicTacToe/"/>
		</port>
	</service>
	<message name="playAgainIn">
		<part name="parameters" element="tns:playAgain"/>
	</message>
	<message name="tickIn">
		<part name="parameters" element="tns:tick"/>
	</message>
	<message name="getBoardStrIn">
		<part name="parameters" element="tns:getBoardStr"/>
	</message>
	<message name="getBoardStrOut">
		<part name="parameters" element="tns:getBoardStrResponse"/>
	</message>
	<message name="checkWinIn">
		<part name="parameters" element="tns:checkWin"/>
	</message>
	<message name="checkWinOut">
		<part name="parameters" element="tns:checkWinResponse"/>
	</message>
	<message name="isFullIn">
		<part name="parameters" element="tns:isFull"/>
	</message>
	<message name="isFullOut">
		<part name="parameters" element="tns:isFullResponse"/>
	</message>
	<message name="playComputerRandIn">
		<part name="parameters" element="tns:playComputerRand"/>
	</message>
	<message name="playComputerRandOut">
		<part name="parameters" element="tns:playComputerRandResponse"/>
	</message>
	<message name="addToRankingIn">
		<part name="parameters" element="tns:addToRanking"/>
	</message>
	<message name="getRankingIn">
		<part name="parameters" element="tns:getRanking"/>
	</message>
	<message name="getRankingOut">
		<part name="parameters" element="tns:getRankingResponse"/>
	</message>
</definitions>
